.WhatWillGet-section {
    padding: 50px 0;
}

.What-will-get-row {
    margin: 35px 0;
}

.What-will-get-col {
    padding: 30px;
    border-radius: 20px;
    border: 1px solid #a09999;
    text-align: center;
    transition: all 0.3s;
    position: relative;
    height: 100%;
}

.What-will-get-col::before,
.What-will-get-col::after {
    content: "";
    position: absolute;
    width: 20%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    background-color: #9ae6ff0d;
    transition: all 0.5s;
}


.What-will-get-col::before {
    top: 0;
    right: 0;
    border-radius: 0 15px 0 100%;
}

.What-will-get-col::after {
    bottom: 0;
    left: 0;
    border-radius: 0 100% 0 15px;
}




.What-will-get-col:hover::before,
.What-will-get-col:hover:after {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: all 0.5s;
    z-index: -4;
}

.What-will-get-col:hover {
    background-color: black;
}









.What-will-img {
    width: 55px;
    height: 55px;
    display: block;
    text-align: center;
    margin: 0 auto 15px auto;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 9px;
}

.What-will-img img {
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
}

.What-will-cont {
    padding: 15px 0 0 0;
}

.What-will-cont h3 {
    font-size: 1.5rem;
    line-height: 1.3;
    font-weight: 900;
    background: linear-gradient(188deg, rgb(63 63 63) 0%, rgb(173, 162, 162) 35%, rgb(255 255 255) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-family: "JetBrains Mono", serif;
}

.What-will-cont p {

    font-weight: 100;
}
@media (max-width:992px){

.What-will-get-col {
    padding: 15px;
}
.What-will-cont h3 {
    font-size: 18px;

}
.What-will-img {
    width: 45px;
    height: 45px;
    margin: 0 auto 10px auto;
}
.What-will-cont p {
    font-size: 14px;
    margin: 15px 0 0 0;

}
}